@page
@model StudyFriend.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    <h3>
        <small>@Html.DisplayFor(model => model.Question.Topic.Name)</small>
        <br />
        @Html.DisplayFor(model => model.Question.Body)
    </h3>
        <a  asp-page="../Answers/Create" asp-route-questionId="@Model.Question.QuestionID">Add an Answer</a> |
        <a asp-page="./Edit" asp-route-id="@Model.Question.QuestionID">Edit this Question</a>

<hr />

<div>
    <div class="list-group">
        @{
            foreach (var answer in Model.Question.Answers)
            {                
                <a class="list-group-item" 
                    asp-page="../Answers/Edit" 
                    asp-route-id="@answer.AnswerID"
                >
                    @answer.Body
                </a>                
            }
        }

    </div>
</div>
<div>
    <a asp-page="../Topics/Details" asp-route-id="@Model.Question.TopicID">Back to @Model.Question.Topic.Name</a>

</div>
