@page
@model StudyFriend.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Topic.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Answers)
        </dt>
        <dd>
            @{ 
                foreach (var answer in Model.Question.Answers)
                {
                    @answer.Body <br>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.QuestionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
