@page
@model StudyFriend.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Questions";
}

<h2>Questions</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<div class="row">
    @foreach (var item in Model.Question)
    {
        <div class="col-md-6">
            <div class="thumbnail text-center">
                <div>
                    <a asp-page="../Topics/Details" asp-route-id="@item.Topic.ID">
                        @Html.DisplayFor(modelItem => item.Topic.Name)
                    </a>
                </div>
                <h3>
                    <a asp-page="./Details" asp-route-id="@item.QuestionID">
                        @Html.DisplayFor(modelItem => item.Body)
                    </a>
                </h3>
                <hr />
                <p>
                    <a asp-page="./Edit" asp-route-id="@item.QuestionID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.QuestionID">Delete</a>
                </p>
            </div>
        </div>
    }

</div>