@page
@model StudyFriend.Pages.Topics.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Topic.Name) Questions</h2>
<a asp-page="../Questions/Create" asp-route-topicId="@Model.Topic.TopicID">Add New Question</a> | 
<a asp-page="./Edit" asp-route-id="@Model.Topic.TopicID">Edit Topic Name</a>
<hr />
<div>
    <div class="list-group">
        @{
            foreach (var question in Model.Topic.Questions)
            {

                <a class="card p-2 mb-3 text-dark" asp-page="../Questions/Details"
                   asp-route-id="@question.QuestionID">
                    @question.Body
                </a>

            }
        }
    </div>
</div>
<div>
    <a asp-page="./Index">Back to Topics</a>
</div>
